.carousel {
  position: relative;
  width: 100%;
  height: 415px;
  overflow: hidden;
  border-radius: 25px;
}

.carousel img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.carousel .content {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel .content .carouselSlide {
  width: 80%;
  height: 415px;
  transition: opacity 0.3s ease-in-out;
}

.carousel .content .carouselSlide.active {
  opacity: 1;
  pointer-events: auto;
}

.carousel .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.carousel .left-arrow {
  left: 20px;
}

.carousel .right-arrow {
  right: 20px;
}

.carousel .pagination {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 18px;
}

@media (max-width: 700px) {

  .carousel .arrow.left-arrow,
  .carousel .arrow.right-arrow {
    width: 20px;
  }
}

@media (max-width: 400px) {
  .carousel {
    height: 255px;
  }

  .carousel .arrow.left-arrow,
  .carousel .arrow.right-arrow {
    width: 12px;
  }

  .carousel .pagination {
    font-size: 14px;
  }
}