@import "../../base/variable.scss";

.logement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;

    .title {
        width: 80%;
    }

    h1 {
        color: $color-primary;
        font-size: 36px;
        max-width: 95%;
        line-height: normal;
        margin-bottom: 5px;
    }

    p {
        color: $color-primary;
        font-size: 18px;
    }

    .tags {
        display: flex;
        margin-top: 30px;
    }

    span {
        display: block;
        margin-right: 10px;
        font-size: 14px;
        padding: 5px 0;
        min-width: 115px;
        padding: 8px 10px;
        background-color: $color-primary;
        color: $text-white;
        border-radius: 10px;
        text-align: center;
    }

    .user {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 20%;
        align-items: flex-end;

        .host-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 167px;
            margin-bottom: 10px;
            justify-content: flex-end;
        }

        .host-picture {
            border-radius: 50%;
            width: 64px;
            height: 64px;
        }

        p {
            align-self: end;
            margin-right: 15px;
            font-size: 18px;
            text-align: right;
        }
    }

    .rating {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 196px;

        .star-icon {
            width: 24px;
            height: 24px;
            margin-right: 10px;
        }
    }

    .collapsLogement {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;

        .collapsContainer {
            width: 48%;
            margin: 0;
        }
    }
}

/* ---- Media Queries -------------*/

.logement {

    @media (max-width: 895px) {
        h1 {
            font-size: 24px;
        }
    }

    @media (max-width: 700px) {
        p {
            font-size: 14px;
        }

        span {
            font-size: 12px;
            min-width: fit-content;
        }

        .title {
            width: 70%;
        }
    }

    @media (max-width: 500px) {
        .title {
            width: 100%;
        }

        h1 {
            font-size: 24px;
            width: 100%;
        }

        .user {
            flex-direction: row-reverse;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
        }

        .rating {
            width: fit-content;
        }

        .star-icon {
            width: 14px;
            height: 14px;
            margin-right: 5px;
        }

        .collapsLogement .collapsContainer {
            width: 100%;
        }
    }
}