@import "../../base/variable.scss";

.home {
  h1{
  font-size: 48px;
  font-weight: 500;
  line-height: 68px;
  letter-spacing: 0em;
  color: $text-white;
  z-index: 2;

  // Media Queries pour mobile
  @media (max-width: 911px) {
      font-size: 2rem;
  }

  @media (max-width: 611px) {
      line-height: normal;
      width: 300px;
  }
}
}