.landing404 {
  text-align: center;
  color: $color-primary;
  display: flex;
  flex-direction: column;
  gap: 90px;
  margin-top: 70px;
  margin-bottom: 100px;
}

.landing404 span {
  font-size: 18vw;
  font-weight: 700;
}

.landing404 p {
  font-size: 3vw;
  font-weight: 500;
  line-height: normal;
  padding: 0 20px;
}

.landing404 .l404 {
  text-decoration: underline;
  color: $color-primary;
}

@media (max-width: 500px) {
  .landing404 p {
    max-width: 200px;
    align-self: center;
  }
}