.collaps-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    max-height: 60px;
}

.collaps-header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 15px;
    background: #FF6060;
    margin: 38px auto;
    border-radius: 5px;
    z-index: 1;
}

.collaps-header h3 {
    color: white;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0em;
    margin: 0;
}

.arrow-icon {
    cursor: pointer;
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

.collaps-container.open .arrow .arrow-icon {
    transform: rotate(0deg);
}

.collaps-content {
    border-radius: 10px 10px 5px 5px;
    background: #F6F6F6;
    margin: 0;
    padding: 20px;
    /* Caché par défaut */
    height: 0px;
    transform: translateY(-100px);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
}

.collaps-container.open {
    max-height: fit-content;
}

.collaps-container.open .collaps-content {
    transform: translateY(-50px);
    opacity: 1;
    height: fit-content;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.collaps-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF6060;
}

/* -------------- mobile -----------------*/
@media (max-width: 675px) {
    .collaps-container {
        width: 100%;
    }

    .collaps-header h3 {
        font-size: 18px;
    }

    .collaps-content p {
        font-size: 16px;
    }
}