.header {
    background-color: white;
    min-height: 68px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .header a {
    color: #FF6060;
    text-decoration: none;
    margin-left: 60px;
    font-size: 24px;
  }

/* Style du lien actif */
.nav-link.active {
    text-decoration: underline;
  }
  

  .header .logo {
    height: 60px;
    pointer-events: none;
  }
  
  
  
   /* -------------- mobile -----------------*/
  
   @media (max-width: 600px) {
   .header .logo {
      height: 45px;
    }
    .header a{
        font-size: 16px;
        margin-left: 40px;
    }
  }
  
  
  
  