body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1440px;
  width: 90%;
  margin: 40px auto;
}

/* -------------- mobile -----------------*/
@media (max-width: 1283px) {
  .container {
    width: 95%;
    margin: 20px auto;
  }
}