.logement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;
}

.title {
    width: 80%;
}

.logement h1 {
    color: #FF6060;
    font-size: 36px;
    max-width: 95%;
    line-height: normal;
    margin-bottom: 5px;
}

.logement p {
    color: #FF6060;
    font-size: 18px
}

/* tags */
.logement .tags {
    display: flex;
    justify-content: baseline;
    margin-top: 30px;
}

.logement span {
    display: block;
    margin-right: 10px;
    font-size: 14px;
    padding: 5px 0;
    min-width: 115px;
    padding: 8px 10px;
    background-color: #FF6060;
    color: white;
    border-radius: 10px;
    text-align: center;
}

/*  host  */
.user {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 20%;
    align-items: flex-end;
}

.host-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 167px;
    margin-bottom: 10px;
    justify-content: flex-end;
}

.host-picture {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.host-info p {
    align-self: end;
    margin-right: 15px;
    font-size: 18px;
    text-align: right;
}

/* stars */
.rating {
    justify-content: flex-end;
    width: 196px;
}

.star-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/* collapses */
.collaps-logement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.collaps-logement .collaps-container {
    width: 48%;
    margin: 0;
}


/* -------------- mobile -----------------*/

@media (max-width: 895px) {
    .logement h1 {
        font-size: 24px;
    }
}


@media (max-width: 700px) {

    .logement p {
        font-size: 14px;
    }

    .logement span {
        font-size: 12px;
        min-width: fit-content;
    }

    .title {
        width: 70%;
    }
}


@media (max-width: 450px) {
    .title {
        width: 100%;
    }

    .logement h1 {
        font-size: 24px;
        width: 100%;
    }

    .user {
        flex-direction: row-reverse;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }

    .rating {
        width: fit-content;
    }

    .star-icon {
        width: 14px;
        height: 14px;
        margin-right: 5px;
    }

    .collaps-logement .collaps-container {
        width: 100%;
    }
}