.logement h1 {
    color: #FF6060;
    font-size: 3vw;
    width: 60%;
}

.collaps-logement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logement p {
    color: #FF6060;
    font-size: 18px
}

.logement .tags {
    display: flex;
    justify-content: baseline;
    margin-top: 30px;
}

.logement span {
    display: block;
    margin-right: 10px;
    font-size: 14px;
    padding: 5px 0;
    min-width: 115px;
    padding: 8px 10px;
    background-color: #FF6060;
    color: white;
    border-radius: 10px;
    text-align: center;
}

.collaps-logement .collaps-container {
    width: 45%;
}

/* -------------- mobile -----------------*/

@media (max-width: 550px) {
    .collaps-logement .collaps-container {
        width: 100%;
    }
}