@import "../../base/variable.scss";

.landing404 {
    text-align: center;
    color: $color-primary;
    display: flex;
    flex-direction: column;
    gap: 90px;
    margin-top: 70px;
    margin-bottom: 100px;

    span {
        font-size: 18vw;
        font-weight: 700;
    }

    p {
        font-size: 3vw;
        font-weight: 500;
        line-height: normal;
        padding: 0 20px;
    }

    .l404 {
        text-decoration: underline;
        color: $color-primary;
    }

    // Media Query pour mobile
    @media (max-width: 500px) {
        p {
            max-width: 300px;
            align-self: center;
            font-size: 18px;
        }
        a{
            font-size: 14px;
        }
    }
}
